<div class= "mt-5">
    <% if @post.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
            <% @post.errors.full_messages.each do |error| %>
                <li><%= error %></li>
            <% end %>
            </ul>
            <%= link_to 'Back', posts_new_path %>
        </div>
        <% else %>
        <strong>Título:</strong>
        <p><%= @post.title %></p>
        <strong>Imagen:</strong>
        <p><%= image_tag @post.image_url%></p>
        <strong>Contenido:</strong>
        <p><%= @post.content %></p>
        <strong>Fecha creación:</strong>
        <p><%= @post.created_at %></p>

        <%= link_to 'Back', root_path %>
    <% end %>

</div>
